<div class="container-fuild mt-5 about-style" id="aboutid">
    <div class="row ">
     <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About Us</h1>
      <p class="text-center sub-heading">Grow business with us.</p>
      <div class="row">
      
      
      <div class="col-md-6 col-12 hero-text">
          <figure>
            <img src="images/about.svg" alt="hero" srcset="">
          </figure>
      </div>

      <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
       <h1>We are the Professional Developer✌</h1>
       <p>Welcome to <span class="bold-style">Abhi World</span>,where we collabrate to provide
        a excellent service.
       </span></p>
       <button class="btn-style btn-primary">Read More</button>
      </div>
      </div>
     </div>
    </div>
    </div>